@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400,600,300);

.header {
	position:fixed;
	background-image:url('blue_green.png');
	height:55px;
	z-index:1;
	width:100%;
}
.logo {
	width:900px;
	height:55px;
	margin-left:auto;
	margin-right:auto;
}
.about {
	float:right;
}
.content2 {
	margin-left:20px;
	margin-right:20px;
	font-size:20px;
	color: #333333;
    font-family: 'Open Sans', sans-serif;
	letter-spacing: -1px;

}
.content {
	background-color:#f4f4f4;
	width:900px;
	height:2250px;
	margin-left:auto;
	margin-right:auto;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#dedede;
	border-right-color:#dedede;
	border-bottom-color:#dedede;
}
#position {
	position:absolute;
	margin-left:130px;
	margin-top:35px;
	width:55px;
	height:55px;
	background-color:#4e4e4e;
	font-size:48px;
    	font-family:Arial, Helvetica, sans-serif;
	color:#efefef;
	text-align:center;
}

#name {
    font-family: 'Open Sans', sans-serif;
	letter-spacing: -1px;
	font-weight:bold;
	text-align:center;
	font-size:17px;
}

#songname {
    font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-align:center;
	margin-left:5px;
	text-transform:uppercase;
}

/* NUMBER 1*/ 
.number1 {
	margin-left:62px;
	position:absolute;
}
.image1 {
	max-width:150px;
	max-height:150px;
}
.bottombox1 {
	margin-left:175px;
	margin-top:-175px;
	position:absolute;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;
}

/* END NUMBER 1*/ 



/* NUMBER 2*/ 
.number2 {
	float:right;
	position:absolute;
	margin-left:440px;
}

.bottombox2 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 2*/ 

/* NUMBER 3*/ 
.number3 {
	margin-left:62px;
	margin-top:200px;
	position:absolute;

}

.bottombox3 {
	margin-left:175px;
	margin-top:-175px;
	position:absolute;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;
}

/* END NUMBER 3*/ 

/* NUMBER 4*/ 
.number4 {
	float:right;
	margin-left:440px;
	margin-top:200px;
	position:absolute;

}

.bottombox4 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 4*/ 

/* NUMBER 5*/ 
.number5 {
	margin-left:62px;
	margin-top:400px;
	position:absolute;
}

.bottombox5 {
	margin-left:175px;
	margin-top:-175px;
	position:absolute;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
                font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 5*/ 

/* NUMBER 6*/ 
.number6 {
	float:right;
	margin-left:440px;
	margin-top:400px;
	position:absolute;

}

.bottombox6 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 6*/ 

/* NUMBER 7*/ 
.number7 {
	margin-left:62px;
	margin-top:600px;
	position:absolute;
}

.bottombox7 {
	margin-left:175px;
	margin-top:-175px;
	position:absolute;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;
}

/* END NUMBER 7*/ 

/* NUMBER 8*/ 
.number8 {
	float:right;
	margin-left:440px;
	margin-top:600px;
	position:absolute;

}

.bottombox8 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 8*/ 

/* NUMBER 9*/ 
.number9 {
	margin-left:62px;
	margin-top:800px;
	position:absolute;

}

.bottombox9 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 9*/ 

/* NUMBER 10*/ 
.number10 {
	float:right;
	margin-left:440px;
	margin-top:800px;
	position:absolute;

}

.bottombox10 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 10*/ 


/* NUMBER 11*/ 
.number11 {
	margin-left:62px;
	margin-top:1000px;
	position:absolute;
}

.bottombox11 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;
}

/* END NUMBER 11*/ 



/* NUMBER 12*/ 
.number12 {
	float:right;
	margin-left:440px;
	margin-top:1000px;
	position:absolute;
}

.bottombox12 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 12*/ 

/* NUMBER 13*/ 
.number13 {
	margin-left:62px;
	margin-top:1200px;
	position:absolute;

}

.bottombox13 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 13*/ 

/* NUMBER 14*/ 
.number14 {
	float:right;
	margin-left:440px;
	margin-top:1200px;
	position:absolute;

}

.bottombox14 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 14*/ 

/* NUMBER 15*/ 
.number15 {
	margin-left:62px;
	margin-top:1400px;
	position:absolute;

}

.bottombox15 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 15*/ 

/* NUMBER 16*/ 
.number16 {
	float:right;
	margin-left:440px;
	margin-top:1400px;
	position:absolute;

}

.bottombox16 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 16*/ 

/* NUMBER 17*/ 
.number17 {
	margin-left:62px;
	margin-top:1600px;
	position:absolute;
}

.bottombox17 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 17*/ 

/* NUMBER 18*/ 
.number18 {
	float:right;
	margin-left:440px;
	margin-top:1600px;
	position:absolute;

}

.bottombox18 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 18*/ 

/* NUMBER 19*/ 
.number19 {
	margin-left:62px;
	margin-top:1800px;
	position:absolute;

}

.bottombox19 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 19*/ 

/* NUMBER 20*/ 
.number20 {
	float:right;
	margin-left:440px;
	margin-top:1800px;
	position:absolute;

}

.bottombox20 {
	margin-left:175px;
	margin-top:-175px;
	width:190px;
	height:175px;
	max-height:175px;
	background-image:url('background.png');
    font-family: 'Open Sans', sans-serif;	font-size:13px;
	color:#303030;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-left-color:#cbcbcb;
	border-right-color:#cbcbcb;
	border-bottom-color:#cbcbcb;

}

/* END NUMBER 20*/ 

.advert { 
	margin-top:2000px;
	margin-left:86px;
	margin-right:86px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	letter-spacing: -1px;
	font-size:15px;
}
.advert2 { 
	margin-left:86px;
	margin-right:86px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	letter-spacing: -1px;
	font-size:15px;
}